
/**
 * @file
 * CSS file code for multistep profile2.
 *
 * This CSS file contains rules of styles to be
 * applied on the multistep profile2.
 */

.multistep-profile2-unsubmitted {
  font-style: italic;
}
.multistep-profile2-progress-bar-wrapper {
  width: 100%;
  border: 1px solid #7f7f7f;
  padding: 1px;
  margin-top: 0.5em;
}
.multistep-profile2-progress-bar {
  background-color: #ffcccc;
  color: #a30000;
  text-align: right;
  font-size: x-small;
  height: 1.5em;
  float: left;
}
.multistep-profile2-progress-bar-100 {
  background-color: #c7f2c8;
  color: #33a333;
}
body.page-profile-job-seeker-edit #edit-submit,
body.page-profile-job-seeker-edit #edit-delete {
  display: none;
}
